
	<footer>
		<div class="foot">
			<div class="foot-cont clearfix">
				<div class="foot-logo fl">
					<img src="__PUBLIC__/web/images/footer_logo.png" alt="">
				</div>
				<div class="cut fl"></div>
				<div class="foot-menu fl">
					<ul class="clearfix">

						<li><a href="__APP__/Index/exhibition.html#exhibition-infor">展会信息</a></li>
						<li><a href="__APP__/Index/information.html#about">关于FanX</a></li>
						<li><a href="__APP__/Index/exhibition.html#support">联系我们</a></li>
						<li><a href="__APP__/Index/information.html#partner">合作伙伴</a></li>

					</ul>
				</div>
				<div class="foot-icon fr">
					<ul class="clearfix">
						<li><a target="_blank" href="https://mp.weixin.qq.com/s/MYYH1BDeoMwg1XE8_W3Kqw"><img src="__PUBLIC__/web/images/icon_01.png" alt=""></a></li>
						<li><a target="_blank" href="https://weibo.com/u/6453154553"><img src="__PUBLIC__/web/images/icon_02.png" alt=""></a></li>
<!-- 						<li><img src="__PUBLIC__/web/images/icon_03.png" alt=""></li>
						<li><img src="__PUBLIC__/web/images/icon_04.png" alt=""></li>
						<li><img src="__PUBLIC__/web/images/icon_05.png" alt=""></li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright">
				<p><a target="_blank" href="http://www.miitbeian.gov.cn">粤ICP备18009787号</a></p>
		</div>
	</footer>
	<script src="__PUBLIC__/web/js/jquery.min.js"></script>
	<script src="__PUBLIC__/web/js/index.js"></script>
	