<nav style="display:;">
    <ul class="clearfix">
        <li class="nav-box">
            <a class="nav-title" href="./index.html">首页 ></a>
        </li>
        <li class="nav-box">
            <a class="nav-title" href="javascript:;">展会 <i class="icon-drop-down"></i></a>
            <div class="sub-nav">
                <ul class="clearfix">
                    <li><a href="__APP__/Index/exhibition.html?type={$type}#exhibition-infor">展会信息</a></li>
                    <li><a href="__APP__/Index/exhibition.html?type={$type}#activity">现场活动</a></li>
                    <li><a href="__APP__/Index/exhibition.html?type={$type}#plan">平面图</a></li>
                    <li><a href="__APP__/Index/exhibition.html?type={$type}#support">参展赞助</a></li>
                    <!--<li><a href="__APP__/Index/exhibition.html#ticket">购票</a></li>-->
                </ul>
            </div>
        </li>
        <li class="nav-box">
            <a class="nav-title" href="javascript:;">商品 <i class="icon-drop-down"></i></a>
            <div class="sub-nav">
                <ul class="clearfix">
                    <li><a href="__APP__/Index/goods.html?n=1&type={$type}">活动限定</a></li>
                    <li><a href="__APP__/Index/goods.html?n=0&type={$type}">商品浏览</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-box">
            <a class="nav-title" href="javascript:;">体验 <i class="icon-drop-down"></i></a>
            <div class="sub-nav">
                <ul class="clearfix">
                    <li><a href="__APP__/Index/experience.html?type={$type}&category=1">现场亮点</a></li>
                    <li><a href="__APP__/Index/experience.html?type={$type}&category=2">音乐</a></li>
                    <li><a href="__APP__/Index/experience.html?type={$type}&category=3">玩具</a></li>
                    <li><a href="__APP__/Index/experience.html?type={$type}&category=4">街头时尚</a></li>
                    <li><a href="__APP__/Index/experience.html?type={$type}&category=5">幻想</a></li>
                    <li><a href="__APP__/Index/experience.html?type={$type}&category=6">游戏</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-box">
            <a class="nav-title" href="javascript:;">嘉宾 <i class="icon-drop-down"></i></a>
            <div class="sub-nav">
                <ul class="clearfix">
                    <li><a href="__APP__/Index/guest.html?type={$type}&n=1#schedule">活动日程</a></li>
                    <li><a href="__APP__/Index/guest.html?type={$type}&n=2">嘉宾信息</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-box">
            <a class="nav-title" href="javascript:;">信息 <i class="icon-drop-down"></i></a>
            <div class="sub-nav">
                <ul class="clearfix">
                    <li><a href="__APP__/Index/information.html?type={$type}#about">关于</a></li>
                    <li><a href="__APP__/Index/information.html?type={$type}#faq">FAQ</a></li>
                    <li><a href="__APP__/Index/information.html?type={$type}#restaurant">差旅餐饮</a></li>
                    <li><a href="__APP__/Index/information.html?type={$type}#partner">赞助和合作伙伴</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>