// body{
// 	min-width: 1366px;
// }
header{
	width: 100%;
	height: 3.6rem;
	background: url("../images/common_header.png") no-repeat;
	background-size: 100% 100%;
}
nav{
	width: 13.66rem;
	margin: 0 auto;
	margin-top: .38rem;
	>ul{
		padding-left: .14rem;
		height: .3rem;
		>.nav-box{
			float: left;
			padding-right:.48rem;
			line-height: .26rem;
			font-size:.2rem;
			
			position: relative;
			&:nth-child(2){
				.sub-nav{
					background-size: 100% 100%;
				}
			}
			&:nth-child(4){
				.sub-nav{
					background-size: 100% 100%;
				}
			}
			.nav-title{
				display: inline-block;
				width: 100%;
				padding-bottom: .05rem;
				color:rgba(179,179,179,1);
				i{
					font-size: .16rem;
				}
				&.cur{
					border-bottom: .04rem solid #9030FD;
				}
			}
			.sub-nav{
				display: none;
				background: url("../images/sub_nav_bj.png") no-repeat;
				background-size: cover;
				// width: 167px;
				padding: .24rem .12rem;
				position: absolute;
				left: .3rem;
				bottom: -0.08rem;
				z-index: 999;
				-webkit-transform: translate(-50%,100%);
				   -moz-transform: translate(-50%,100%);
				    -ms-transform: translate(-50%,100%);
				     -o-transform: translate(-50%,100%);
				        transform: translate(-50%,100%);
				li{
					float: none;
					>a{
						display: block;
						width: 1.67rem;
						text-align: center;
						font-size: .18rem;
						line-height: .37rem;
						margin-bottom: .05rem;
						color:#fff;
						
						&.active {
							background: url("../images/nav_active.png") no-repeat;
							background-size: contain;
						}
						
					}
				}
			}
		}
	}
}

footer{
	margin-top: 2.8rem;
	.foot{
		width: 100%;
		height:2rem; 
		background: url("../images/footer_bg.png") no-repeat;
		position: relative;
		.foot-cont{
			width: 10.48rem;
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translate(-50%, -50%);
			   -moz-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			     -o-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
			.foot-logo{
				width: 2.76rem;
				img{
					width: 100%;
				}
			}
			.foot-menu{
				float: right;
				margin-left: 1rem;
				margin-top: 0.26rem;
				li{
					float: left;
					padding-right: .3rem;
					margin-right: .3rem;
					border-right: 0.05rem solid #fff;
					&:last-child{
						margin-right: 0;
						padding-right: 0;
						border: none;
					}
					a{
						font-size:.24rem;
						color: #fff;
					}
				}
			}
			.foot-icon{
				margin-top: .38rem;
				li{
					float: left;
					margin-left: .36rem;
				}
			}
		}
	}
	.copyright{
		margin: .85rem auto;
		font-size:.16rem;
		color:rgba(102,102,102,1);
		line-height:.36rem;
		text-align: center;
	}
}