header {
  width: 100%;
  height: 3.6rem;
  background: url("../images/common_header.png") no-repeat;
  background-size: 100% 100%;
}
nav {
  width: 13.66rem;
  margin: 0 auto;
  margin-top: .38rem;
}
nav > ul {
  padding-left: .14rem;
  height: .3rem;
}
nav > ul > .nav-box {
  float: left;
  padding-right: .48rem;
  line-height: .26rem;
  font-size: .2rem;
  position: relative;
}
nav > ul > .nav-box:nth-child(2) .sub-nav {
  background-size: 100% 100%;
}
nav > ul > .nav-box:nth-child(4) .sub-nav {
  background-size: 100% 100%;
}
nav > ul > .nav-box .nav-title {
  display: inline-block;
  width: 100%;
  padding-bottom: .05rem;
  color: #b3b3b3;
}
nav > ul > .nav-box .nav-title i {
  font-size: .16rem;
}
nav > ul > .nav-box .nav-title.cur {
  border-bottom: .04rem solid #9030FD;
}
nav > ul > .nav-box .sub-nav {
  display: none;
  background: url("../images/sub_nav_bj.png") no-repeat;
  background-size: cover;
  padding: .24rem .12rem;
  position: absolute;
  left: .3rem;
  bottom: -0.08rem;
  z-index: 999;
  -webkit-transform: translate(-50%, 100%);
  -moz-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  -o-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
}
nav > ul > .nav-box .sub-nav li {
  float: none;
}
nav > ul > .nav-box .sub-nav li > a {
  display: block;
  width: 1.67rem;
  text-align: center;
  font-size: .18rem;
  line-height: .37rem;
  margin-bottom: .05rem;
  color: #fff;
}
nav > ul > .nav-box .sub-nav li > a.active {
  background: url("../images/nav_active.png") no-repeat;
  background-size: contain;
}
footer {
  margin-top: 2.8rem;
}
footer .foot {
  width: 100%;
  height: 2rem;
  background: url("../images/footer_bg.png") no-repeat;
  position: relative;
}
footer .foot .foot-cont {
  width: 10.48rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
footer .foot .foot-cont .foot-logo {
  width: 2.76rem;
}
footer .foot .foot-cont .foot-logo img {
  width: 100%;
}
footer .foot .foot-cont .foot-menu {
  float: right;
  margin-left: 1rem;
  margin-top: 0.26rem;
}
footer .foot .foot-cont .foot-menu li {
  float: left;
  padding-right: .3rem;
  margin-right: .3rem;
  border-right: 0.05rem solid #fff;
}
footer .foot .foot-cont .foot-menu li:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}
footer .foot .foot-cont .foot-menu li a {
  font-size: .24rem;
  color: #fff;
}
footer .foot .foot-cont .foot-icon {
  margin-top: .38rem;
}
footer .foot .foot-cont .foot-icon li {
  float: left;
  margin-left: .36rem;
}
footer .copyright {
  margin: .85rem auto;
  font-size: .16rem;
  color: #666666;
  line-height: .36rem;
  text-align: center;
}
