body {
  height: 100%;
  background: url("../images/bg.png");
  background-size: cover;
}
main .exhibition-box {
  background: url("../images/guest_bg.png") no-repeat;
  background-size: contain;
}
main .exhibition-box .title {
  width: 2.65rem;
  margin: 0 auto;
  margin-top: 1rem;
}
main .exhibition-box .title img {
  width: 100%;
}
main .exhibition-box .exhibition-cont {
  width: 13.66rem;
  margin: 0 auto;
  margin-top: 2.2rem;
}
main .exhibition-box .left-menu li {
  width: 2.7rem;
  box-shadow: 0px 0.2rem 0.2rem #000000;
  margin: 0 .3rem .3rem 0;
}
main .exhibition-box .left-menu li a {
  display: block;
  width: 100%;
  line-height: .7rem;
  background: #ffffff;
  font-size: .25rem;
  color: #000000;
  text-align: center;
}
main .exhibition-box .left-menu li a.active {
  background: #9030fd;
  color: #fff;
}
main .exhibition-box .right-cont {
  width: 10.48rem;
  background-color: #fff;
}
main .exhibition-box .cont-detail {
  width: 100%;
  display: none;
}
main .exhibition-box .cont-detail .cont-title {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}
main .exhibition-box .cont-detail .cont-title h1 {
  padding: 0 .4rem;
  line-height: .8rem;
  font-size: .24rem;
  color: #000;
  font-weight: 600;
}
main .exhibition-box .cont-detail.cur {
  display: block;
}
main .exhibition-box .address .address-cont {
  padding: .3rem .3rem 0 .3rem;
}
main .exhibition-box .address .address-cont div {
  font-size: .2rem;
  color: #000;
  margin-bottom: .35rem;
}
main .exhibition-box .address .address-cont div p {
  line-height: .24rem;
}
main .exhibition-box .address .address-cont div span {
  font-weight: 600;
}
main .exhibition-box .introduce .introduce-cont {
  padding: .3rem .4rem;
}
main .exhibition-box .introduce .introduce-cont .introduce-left {
  margin-right: .3rem;
  width: 2.4rem;
  height: 2.4rem;
}
main .exhibition-box .introduce .introduce-cont .introduce-left img {
  width: 100%;
}
main .exhibition-box .introduce .introduce-cont .introduce-right {
  width: 6.77rem;
}
main .exhibition-box .introduce .introduce-cont .introduce-right img {
  width: 100%;
}
main .exhibition-box .organization .organization-cont {
  padding: .3rem .4rem;
}
main .exhibition-box .organization .organization-cont li {
  float: left;
  margin-right: .27rem;
}
main .exhibition-box .organization .organization-cont li .img-box {
  width: 2.94rem;
  height: 2.94rem;
  position: relative;
  background-color: #000;
}
main .exhibition-box .organization .organization-cont li img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
main .exhibition-box .organization .organization-cont li p {
  text-align: center;
  font-size: .2rem;
  color: #000;
  line-height: .5rem;
}
main .exhibition-box .activity {
  padding: .5rem 0 0 .5rem;
}
main .exhibition-box .activity li {
  float: left;
  width: 4.62rem;
  margin-right: .3rem;
  margin-bottom: .3rem;
}
main .exhibition-box .activity .activity-box {
  box-sizing: border-box;
  border: 2px solid #e5e5e5;
}
main .exhibition-box .activity .activity-box img {
  width: 100%;
}
main .exhibition-box .activity p {
  text-align: center;
  font-size: .24rem;
  line-height: .3rem;
  margin: .1rem 0;
  color: #000;
}
main .exhibition-box .plan {
  position: relative;
}
main .exhibition-box .plan .plan-box {
  width: 9.36rem;
  height: 5.43rem;
  overflow: hidden;
  margin: .5rem;
  margin-bottom: 1rem;
}
main .exhibition-box .plan .plan-box img {
  width: 100%;
}
main .exhibition-box .plan .download {
  margin: 0 auto;
  margin-bottom: .5rem;
  width: 2.08rem;
  height: .54rem;
  color: #fff;
  line-height: .54rem;
  background-color: #9030FD;
  text-align: center;
  font-size: .22rem;
}
main .exhibition-box .plan .plan-num {
  position: absolute;
  right: .8rem;
  bottom: .8rem;
}
main .exhibition-box .plan .plan-num li {
  float: left;
  width: .3rem;
  background-color: #E6E6E6;
  height: .3rem;
  cursor: pointer;
  line-height: .3rem;
  font-size: .18rem;
  color: #000;
  text-align: center;
  margin-right: .16rem;
}
main .exhibition-box .plan .plan-num li.cur {
  background-color: #9030FD;
  color: #fff;
}
main .exhibition-box .support {
  padding: .5rem 0 0 .5rem;
}
main .exhibition-box .support .support-cont {
  margin-bottom: 1.2rem;
}
main .exhibition-box .support .support-cont p {
  font-size: .2rem;
  line-height: .26rem;
  font-family: STHeiti;
  color: #000;
}
main .exhibition-box .support .support-way {
  margin-bottom: 3rem;
}
main .exhibition-box .support .support-way li {
  float: left;
  margin-right: .6rem;
}
main .exhibition-box .support .support-way .way-box {
  width: 1.74rem;
  height: 1.74rem;
  border-radius: 50%;
  background-color: #E5E5E5;
  position: relative;
}
main .exhibition-box .support .support-way .way-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
main .exhibition-box .support .support-way p {
  width: 1.74rem;
  margin-top: .2rem;
  text-align: center;
  font-size: .18rem;
  font-family: STHeiti;
  line-height: .3rem;
}
main .exhibition-box .support .support-way p a {
  color: #000;
}
main .exhibition-box .ticket-infor .infor-cont {
  padding: .3rem .4rem 0 .4rem;
}
main .exhibition-box .ticket-infor .infor-cont div {
  margin-bottom: .35rem;
}
main .exhibition-box .ticket-infor .infor-cont p {
  font-size: .18rem;
  color: #000;
  line-height: .24rem;
}
main .exhibition-box .ticket-link {
  margin-top: 1rem;
}
main .exhibition-box .ticket-link .link-cont {
  background-color: #EEEEEE;
  padding-left: 1rem;
}
main .exhibition-box .ticket-link .link-cont li {
  float: left;
  margin: .45rem 1rem .45rem 0;
  width: 1.35rem;
  height: 1.35rem;
}
main .exhibition-box .ticket-link .link-cont li img {
  width: 100%;
}
main .exhibition-box .ticket-link .link-title {
  padding-left: 1rem;
  overflow: hidden;
  width: 11rem;
  margin-bottom: 1rem;
}
main .exhibition-box .ticket-link .link-title li {
  float: left;
  margin: .2rem 1rem .2rem 0;
  width: 1.35rem;
  text-align: center;
}
main .exhibition-box .ticket-link .link-title li a {
  font-size: .18rem;
  color: #000;
  line-height: .32rem;
}
