body {
  height: 100%;
  background: url("../images/bg.png");
  background-size: cover;
}
main .exhibition-box .title {
  width: 9.15rem;
  padding-left: .4rem;
  margin-bottom: 1rem;
  margin-top: -1.5rem;
}
main .exhibition-box .title img {
  width: 100%;
}
main .exhibition-box .exhibition-cont {
  width: 13.66rem;
  margin: 0 auto;
  margin-top: 4.2rem;
}
main .exhibition-box .left-menu li {
  width: 2.7rem;
  box-shadow: 0px 0.2rem 0.2rem #000000;
  margin: 0 .3rem .3rem 0;
}
main .exhibition-box .left-menu li a {
  display: block;
  width: 100%;
  line-height: .7rem;
  background: url("../images/menu_bg.png") no-repeat;
  background-size: contain;
  font-size: .25rem;
  text-align: center;
  color: #fff;
}
main .exhibition-box .left-menu li a.active {
  background: url("../images/menu_active.png") no-repeat;
  color: #fff;
}
main .exhibition-box .right-cont {
  width: 10.48rem;
}
main .exhibition-box .cont-detail {
  width: 100%;
  display: none;
  position: relative;
}
main .exhibition-box .cont-detail .cont-title {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}
main .exhibition-box .cont-detail .cont-title h1 {
  padding: 0 .4rem;
  line-height: .8rem;
  font-size: .24rem;
  color: #fff;
  font-weight: 600;
}
main .exhibition-box .cont-detail.cur {
  display: block;
}
main .exhibition-box .highlight {
  padding: 0 0 0 .4rem;
  margin-bottom: 1rem;
}
main .exhibition-box .highlight li {
  float: left;
  width: 4.62rem;
  margin-right: .3rem;
  margin-bottom: 1.3rem;
}
main .exhibition-box .highlight .highlight-box {
  box-sizing: border-box;
  position: relative;
}
main .exhibition-box .highlight .highlight-box img {
  width: 100%;
}
main .exhibition-box .highlight .highlight-box .player-btn {
  width: 1.06rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
main .exhibition-box .highlight .advert {
  padding-right: .55rem;
  margin-bottom: 1rem;
}
main .exhibition-box .highlight .advert img {
  width: 100%;
}
main .exhibition-box .highlight h2 {
  font-size: .28rem;
  line-height: .6rem;
  color: #fff;
  margin-top: .1rem;
}
main .exhibition-box .highlight p {
  font-size: .2rem;
  line-height: .3rem;
  color: #fff;
}
main .exhibition-box .limit-num {
  position: absolute;
  right: .3rem;
  bottom: -0.7rem;
}
main .exhibition-box .limit-num li {
  float: left;
  width: .3rem;
  background-color: #E6E6E6;
  height: .3rem;
  cursor: pointer;
  line-height: .3rem;
  font-size: .18rem;
  color: #000;
  text-align: center;
  margin-right: .16rem;
}
main .exhibition-box .limit-num li.cur {
  background-color: #9030FD;
  color: #fff;
}
