body {
  height: 100%;
  background: url("../images/bg.png");
  background-size: cover;
}
main .exhibition-box .title {
  width: 9.15rem;
  padding-left: .4rem;
  margin-bottom: 1rem;
  margin-top: -1.5rem;
}
main .exhibition-box .title img {
  width: 100%;
}
main .exhibition-box .exhibition-cont {
  width: 13.66rem;
  margin: 0 auto;
  margin-top: 4.2rem;
}
main .exhibition-box .left-menu li {
  width: 2.7rem;
  box-shadow: 0px 0.2rem 0.2rem #000000;
  margin: 0 .3rem .3rem 0;
}
main .exhibition-box .left-menu li a {
  display: block;
  width: 100%;
  line-height: .7rem;
  background: url("../images/menu_bg.png") no-repeat;
  background-size: contain;
  font-size: .25rem;
  text-align: center;
  color: #fff;
}
main .exhibition-box .left-menu li a.active {
  background: url("../images/menu_active.png") no-repeat;
  color: #fff;
}
main .exhibition-box .right-cont {
  width: 10.48rem;
}
main .exhibition-box .cont-detail {
  width: 100%;
  display: none;
  position: relative;
}
main .exhibition-box .cont-detail .cont-title {
  width: 100%;
}
main .exhibition-box .cont-detail .cont-title h1 {
  padding: 0 .4rem;
  line-height: .8rem;
  font-size: .24rem;
  color: #8E56FC;
}
main .exhibition-box .cont-detail.cur {
  display: block;
}
main .exhibition-box .schedule {
  padding: 0 0 0 .4rem;
  margin-bottom: 1rem;
}
main .exhibition-box .schedule .schedule-date li {
  float: left;
  margin-right: 1rem;
  padding: 0 .4rem;
}
main .exhibition-box .schedule .schedule-date li a {
  color: #fff;
  font-size: .28rem;
  line-height: .36rem;
}
main .exhibition-box .schedule .schedule-date li a:hover {
  border-bottom: 2px solid #8E56FC;
  padding-bottom: .1rem;
}
main .exhibition-box .schedule .schedule-date li a.cur {
  border-bottom: 2px solid #8E56FC;
  padding-bottom: .1rem;
}
main .exhibition-box .schedule .schedule-cont > ul > li {
  display: none;
}
main .exhibition-box .schedule .schedule-cont > ul > li p {
  padding-left: .4rem;
  font-size: .2rem;
  color: #fff;
  line-height: .32rem;
}
main .exhibition-box .schedule .schedule-cont > ul > li.active {
  display: block;
}
main .exhibition-box .schedule .schedule-cont .guest-img {
  margin-top: .8rem;
}
main .exhibition-box .schedule .schedule-cont .guest-img li {
  padding-left: .4rem;
  width: 2rem;
  float: left;
}
main .exhibition-box .schedule .schedule-cont .guest-img li img {
  width: 100%;
}
main .exhibition-box .schedule .schedule-cont .guest-img li p {
  font-size: .28rem;
  line-height: .36rem;
  color: #fff;
  padding: 0;
  margin-top: .2rem;
}
main .exhibition-box .schedule .schedule-cont .cont-top {
  margin-top: 1rem;
  position: relative;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
main .exhibition-box .schedule .schedule-cont .cont-bottom {
  position: relative;
  padding-bottom: 1rem;
}
main .exhibition-box .schedule .schedule-cont .dateDownload {
  position: absolute;
  right: 0;
  bottom: 0;
}
main .exhibition-box .schedule .schedule-cont .dateDownload a {
  font-size: .28rem;
  padding-bottom: .1rem;
  border-bottom: 2px solid #8E56FC;
  color: #8E56FC;
}
main .exhibition-box .limit-num {
  position: absolute;
  right: .3rem;
  bottom: -1rem;
}
main .exhibition-box .limit-num li {
  float: left;
  width: .3rem;
  background-color: #E6E6E6;
  height: .3rem;
  cursor: pointer;
  line-height: .3rem;
  font-size: .18rem;
  color: #000;
  text-align: center;
  margin-right: .16rem;
}
main .exhibition-box .limit-num li.cur {
  background-color: #9030FD;
  color: #fff;
}
main .exhibition-box .guest-infor {
  padding: .5rem 0 0 .5rem;
  margin-bottom: 1rem;
}
main .exhibition-box .guest-infor li {
  float: left;
  width: 2.98rem;
  margin-right: .3rem;
  margin-bottom: .3rem;
}
main .exhibition-box .guest-infor img {
  width: 100%;
}
main .exhibition-box .guest-infor p {
  font-size: .28rem;
  line-height: .36rem;
  color: #fff;
  padding: 0;
  margin-top: .2rem;
}
