body {
  height: 100%;
  background: url("../images/bg.png");
  background-size: cover;
}
main .detail-box {
  background: url("../images/guest_bg.png") no-repeat;
  background-size: 100% 100%;
}
main .detail-box .title {
  width: 2.72rem;
  margin: 0 auto;
  margin-top: 2rem;
}
main .detail-box .title img {
  width: 100%;
}
main .detail-box .detail-cont {
  width: 13.66rem;
  margin: 0 auto;
  margin-top: 2.2rem;
  background-color: #fff;
  padding: .4rem;
}
main .detail-box .detail-left {
  width: 4.2rem;
  margin-right: .4rem;
}
main .detail-box .detail-left .avatar {
  width: 4.1rem;
}
main .detail-box .detail-left .avatar img {
  width: 100%;
}
main .detail-box .detail-left .avatar p {
  margin-top: .4rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: .2rem;
}
main .detail-box .detail-left .avatar p a {
  font-size: .24rem;
}
main .detail-box .detail-left .contact {
  margin-top: .2rem;
}
main .detail-box .detail-right {
  width: 8rem;
  background-color: #f0f0f0;
  padding: .4rem;
}
main .detail-box .detail-right .detail-title {
  font-size: .46rem;
  line-height: .5rem;
  color: #000;
  margin-bottom: .5rem;
}
main .detail-box .detail-right .detail-title h1 {
  font-weight: 600;
  font-family: "Arial-Black";
}
main .detail-box .detail-right .detail-title p {
  font-size: .28rem;
}
main .detail-box .detail-right .intro-article {
  font-size: .24rem;
  line-height: .36rem;
  color: #000;
}
