body {
  height: 100%;
  background: url("../images/bg.png");
  background-size: cover;
}
main .exhibition-box {
  background: url("../images/guest_bg.png") no-repeat;
  background-size: contain;
}
main .exhibition-box .title {
  width: 2.65rem;
  margin: 0 auto;
  margin-top: 1rem;
}
main .exhibition-box .title img {
  width: 100%;
}
main .exhibition-box .exhibition-cont {
  width: 13.66rem;
  margin: 0 auto;
  margin-top: 2.2rem;
}
main .exhibition-box .left-menu li {
  width: 2.7rem;
  box-shadow: 0px 0.2rem 0.2rem #000000;
  margin: 0 .3rem .3rem 0;
}
main .exhibition-box .left-menu li a {
  display: block;
  width: 100%;
  line-height: .7rem;
  background: #ffffff;
  font-size: .25rem;
  color: #000000;
  text-align: center;
}
main .exhibition-box .left-menu li a.active {
  background: #9030fd;
  color: #fff;
}
main .exhibition-box .right-cont {
  width: 10.48rem;
  background-color: #fff;
}
main .exhibition-box .cont-detail {
  width: 100%;
  display: none;
  position: relative;
}
main .exhibition-box .cont-detail .cont-title {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
}
main .exhibition-box .cont-detail .cont-title h1 {
  padding: 0 .4rem;
  line-height: .8rem;
  font-size: .24rem;
  color: #000;
  font-weight: 600;
}
main .exhibition-box .cont-detail.cur {
  display: block;
}
main .exhibition-box .about-activity .activity-cont {
  padding: 0 .4rem .4rem .4rem;
}
main .exhibition-box .about-activity .activity-cont img {
  width: 100%;
}
main .exhibition-box .about-poplife .poplife-cont {
  padding: .3rem .4rem;
}
main .exhibition-box .about-poplife .poplife-cont div {
  margin-bottom: .8rem;
}
main .exhibition-box .about-poplife .poplife-cont p {
  font-size: .18rem;
  color: #000;
  line-height: .24rem;
}
main .exhibition-box .question .question-cont {
  padding: .3rem .4rem;
  font-size: .18rem;
  color: #000;
  line-height: .26rem;
}
main .exhibition-box .question .question-cont div {
  margin-bottom: .8rem;
}
main .exhibition-box .question .question-cont h2 {
  margin-bottom: .1rem;
  font-weight: 700;
}
main .exhibition-box .address .address-cont {
  padding: .3rem .4rem;
}
main .exhibition-box .address .address-cont li {
  float: left;
  margin-right: .3rem;
  width: 2.98rem;
}
main .exhibition-box .address .address-cont li .address-box {
  border: 2px solid #e5e5e5;
  border-radius: .08rem;
}
main .exhibition-box .address .address-cont li img {
  width: 100%;
}
main .exhibition-box .address .address-cont li p {
  text-align: center;
  font-size: .24rem;
  line-height: .3rem;
  margin: .1rem 0;
  color: #000;
}
main .exhibition-box .facilities .facilities-cont {
  padding: .3rem .4rem;
  font-size: .18rem;
  color: #000;
  line-height: .26rem;
}
main .exhibition-box .facilities .facilities-cont div {
  margin-bottom: .3rem;
}
main .exhibition-box .platform .platform-cont {
  padding: .2rem .4rem;
}
main .exhibition-box .platform .platform-cont li {
  float: left;
  margin-right: .15rem;
}
main .exhibition-box .platform .platform-cont li .platform-box {
  width: 2.22rem;
  height: 2.22rem;
  position: relative;
  background-color: #000;
}
main .exhibition-box .platform .platform-cont li img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
main .exhibition-box .platform .platform-cont li p {
  text-align: center;
  font-size: .2rem;
  color: #000;
  line-height: .5rem;
}
main .exhibition-box .trend .trend-cont {
  padding: .2rem .4rem;
  margin-bottom: 1rem;
}
main .exhibition-box .trend .trend-cont li {
  float: left;
  margin-right: .15rem;
}
main .exhibition-box .trend .trend-cont li .trend-box {
  width: 2.22rem;
  height: 2.22rem;
  position: relative;
  background-color: #000;
}
main .exhibition-box .trend .trend-cont li img {
  width: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
main .exhibition-box .trend .trend-cont li p {
  text-align: center;
  font-size: .2rem;
  color: #000;
  line-height: .5rem;
}
