
	<footer>
		<div class="foot">
			<div class="foot-cont clearfix">
				<div class="foot-logo fl">
					<img src="__PUBLIC__/web/images/footer_logo.png" alt="">
				</div>
				<div class="cut fl"></div>
				<div class="foot-menu fl">
					<ul class="clearfix">
						<li><a href="javascript:;">展会信息</a></li>
						<li><a href="javascript:;">关于FanX</a></li>
						<li><a href="javascript:;">联系我们</a></li>
						<li><a href="javascript:;">合作伙伴</a></li>
					</ul>
				</div>
				<div class="foot-icon fr">
					<ul class="clearfix">
						<li><img src="__PUBLIC__/web/images/icon_01.png" alt=""></li>
						<li><img src="__PUBLIC__/web/images/icon_02.png" alt=""></li>
						<li><img src="__PUBLIC__/web/images/icon_03.png" alt=""></li>
						<li><img src="__PUBLIC__/web/images/icon_04.png" alt=""></li>
						<li><img src="__PUBLIC__/web/images/icon_05.png" alt=""></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="copyright">
				<p>东莞尚联八贸易有限公司</p>
				<p>粤ICP备18009787号</p>
		</div>
	</footer>
	<script src="__PUBLIC__/web/js/jquery.min.js"></script>
	<script src="__PUBLIC__/web/js/index.js"></script>
	