<style>
  .layui-form-item{
    width: 100%;
  }
  .layui-form-item .layui-input-inline{
    width: 80%;
  }
</style>
<form class="layui-form">
  <div style="height: 20px"></div>
  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
    <div class="layui-input-inline">
      <input type="text" name="title" lay-verify="required" value="{$matrix_info.title}" autocomplete="off"  id="title" class="layui-input">
    </div>
  </div>
  <input type="hidden" value="{$matrix_info.id}" name="id">
  <div class="layui-form-item">
    <label class="layui-form-label">单选框</label>
    <div class="layui-input-block">
      <div style="float: left;width: 40%"><input type="radio" name="type" value="1" <eq name="matrix_info.type" value="1">checked</eq> style="display: block" >品牌</div>
      <div  style="float: left;width: 40%"><input type="radio" name="type" value="2" <eq name="matrix_info.type" value="2">checked</eq> style="display: block" >传播</div>

    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">缩略图</label>
    <div class="layui-input-inline">
      <input type="file" id='upload_img' name="file" class="layui-upload-file">
      <img src="{$matrix_info.smeta}" width="50" height="50" />
      <input type="hidden" name="smeta" id="smeta" readonly value="{$matrix_info.smeta}" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <label class="layui-form-label">内容</label>
    <div class="layui-input-inline">
      <textarea class="layui-textarea " name="content" >{$news_info.content}</textarea>

    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="matrix">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
layui.use('form', function(){
	var form = layui.form(),
   		 $ = layui.jquery
	  //监听提交
	  form.on('submit(matrix)', function(data){
		  
	    var matrixinfo = data.field;
        //matrixinfo.content = layui.layedit.getContent(1);
		var url = "{:U('Matrix/editMatrix')}";
		$.post(url,matrixinfo,function(data){
			if(data.status == 'error'){
				  layer.msg(data.msg,{icon: 5});//失败的表情
				  return;
			  }else if(data.status == 'success'){
				  layer.msg(data.msg, {
					  icon: 6,//成功的表情
					  time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
					   location.reload();
					}); 
			  }
		})
		
	    return false;//阻止表单跳转
	  });
	});

layui.use('upload', function(){
    $ = layui.jquery
    layui.upload({
        url: "{:U('Matrix/uploadImgForContent')}"
        ,title: '重新上传图片'
        ,elem: '#upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
        ,ext: 'jpg|png|gif|jpeg'
        ,method: 'post' //上传接口的http类型
        ,success: function(res){
            if(res.code == 300){
                layer.msg(res.msg);
            }else{
                $("#smeta").val(res.data.src);
            }
        }
    });
});
</script>