<style>
  .layui-form-item{
    width: 100%;
  }
  .layui-form-item .layui-input-inline{
    width: 80%;
  }
</style>
<form class="layui-form">
  <div style="height: 20px"></div>
  <input type="hidden" value="{$news_info.id}" name="id">
  <div class="layui-form-item">
    <label class="layui-form-label">展会站点</label>
    <div class="layui-input-inline">
      <input type="text" name="site"  value="{$news_info.site}"  id="site" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">展会时间</label>
    <div class="layui-input-inline">
      <input type="text" name="date_time" placeholder="请输入展会时间" value="{$news_info.date_time}" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">展会地点</label>
    <div class="layui-input-inline">
      <input type="text" name="address" placeholder="请输入展会地点" value="{$news_info.address}"  class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">介绍</label>
    <div class="layui-input-inline">
      <textarea class="layui-textarea " id="introduce" name="introduce">{$news_info.introduce}</textarea>
    </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">主办方</label>
    <div class="layui-input-inline">
        <div style="float:left;margin-right: 10px"><input type="file" id='upload_img1' name="file" class="layui-upload-file"></div>
        <div id="show1" style="float:left"><img src="{$news_info.sponsor}" width="100" height="50" /></div>
        <input type="hidden" name="sponsor" id="sponsor"  value="{$news_info.sponsor}" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">战略合作</label>
    <div class="layui-input-inline">
      
        <div style="float:left;margin-right: 10px"><input type="file" id='upload_img2' name="file" class="layui-upload-file"></div>
        <div id="show2" style="float:left"><img src="{$news_info.cooperation}" width="100" height="50" /></div>
        <input type="hidden" name="cooperation" id="cooperation"  value="{$news_info.cooperation}" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">赞助介绍</label>
    <div class="layui-input-inline">
      <textarea class="layui-textarea " id="zhanzhu" name="zhanzhu">{$news_info.zhanzhu}</textarea>
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">赞助LOGO</label>
    <div class="layui-input-inline">
        <div style="float:left;margin-right: 10px"><input type="file" id='upload_img3' name="file" class="layui-upload-file"></div>
        <div id="show3" style="float:left"><img src="{$news_info.zhanzhu_logo1}" width="100" height="50" /></div>
        <input type="hidden" name="zhanzhu_logo1" id="zhanzhu_logo1"  value="{$news_info.zhanzhu_logo1}" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">赞助LOGO</label>
    <div class="layui-input-inline">
        <div style="float:left;margin-right: 10px"><input type="file" id='upload_img4' name="file" class="layui-upload-file"></div>
        <div id="show4" style="float:left"><img src="{$news_info.zhanzhu_logo2}" width="100" height="50" /></div>
        <input type="hidden" name="zhanzhu_logo2" id="zhanzhu_logo2"  value="{$news_info.zhanzhu_logo2}" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="news">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
</form>
<script>
layui.use('form', function(){
	var form = layui.form(),
   		 $ = layui.jquery
	  //监听提交
	  form.on('submit(news)', function(data){

	    var newsinfo = data.field;
        //newsinfo.content = layui.layedit.getContent(1);

		var url = "{:U('Exhibition/editExhibition')}";
		$.post(url,newsinfo,function(data){
			if(data.status == 'error'){
				  layer.msg(data.msg,{icon: 5});//失败的表情
				  return;
			  }else if(data.status == 'success'){
				  layer.msg(data.msg, {
					  icon: 6,//成功的表情
					  time: 2000 //2秒关闭（如果不配置，默认是3秒）
					}, function(){
					   location.reload();
					}); 
			  }
		})
		
	    return false;//阻止表单跳转
	  });
	});

layui.use('upload', function(){
    $ = layui.jquery
    layui.upload({
        url: "{:U('Exhibition/uploadImgForContent')}"
        ,title: '重新上传'
        ,elem: '#upload_img1' //指定原始元素，默认直接查找class="layui-upload-file"
        ,ext: 'jpg|png|gif|jpeg'
        ,method: 'post' //上传接口的http类型
        ,success: function(res){
            if(res.code == 300){
                layer.msg(res.msg);
            }else{
                var str = "<image src='"+res.data.src+"' width='100' height='50'></image> ";
                $("#sponsor").val(res.data.src);
                $("#show1").html(str);
            }
        }
    });
    layui.upload({
        url: "{:U('Exhibition/uploadImgForContent')}"
        ,title: '重新上传'
        ,elem: '#upload_img2' //指定原始元素，默认直接查找class="layui-upload-file"
        ,ext: 'jpg|png|gif|jpeg'
        ,method: 'post' //上传接口的http类型
        ,success: function(res){
            if(res.code == 300){
                layer.msg(res.msg);
            }else{
                var str = "<image src='"+res.data.src+"' width='100' height='50'></image> ";
                $("#cooperation").val(res.data.src);
                $("#show2").html(str);
                
            }
        }
    });
    layui.upload({
        url: "{:U('Exhibition/uploadImgForContent')}"
        ,title: '重新上传'
        ,elem: '#upload_img3' //指定原始元素，默认直接查找class="layui-upload-file"
        ,ext: 'jpg|png|gif|jpeg'
        ,method: 'post' //上传接口的http类型
        ,success: function(res){
            if(res.code == 300){
                layer.msg(res.msg);
            }else{
                var str = "<image src='"+res.data.src+"' width='100' height='50'></image> ";
                $("#zhanzhu_logo1").val(res.data.src);
                $("#show3").html(str);
            }
        }
    });
    layui.upload({
        url: "{:U('Exhibition/uploadImgForContent')}"
        ,title: '重新上传'
        ,elem: '#upload_img4' //指定原始元素，默认直接查找class="layui-upload-file"
        ,ext: 'jpg|png|gif|jpeg'
        ,method: 'post' //上传接口的http类型
        ,success: function(res){
            if(res.code == 300){
                layer.msg(res.msg);
            }else{
                var str = "<image src='"+res.data.src+"' width='100' height='50'></image> ";
                $("#zhanzhu_logo2").val(res.data.src);
                $("#show4").html(str);
            }
        }
    });
});
</script>