<fieldset class="layui-elem-field">
    <legend>商品套餐</legend>
    <div class="layui-field-box">
        <table class="layui-table">
            <thead>
            <tr>
                <th>#</th>
                <th>套餐名</th>
                <th>bird-price</th>
                <th>retail-price</th>
                <th>折扣率</th>
                <th>详情</th>
            </tr>
            </thead>
            <tbody>
            <eq name="mychild_list" value="">
                <tr>
                    <td colspan="5">暂无价格</td>
                </tr>
                <else/>
                <foreach name="mychild_list" key="k" item="vo">
                    <tr>
                        <td>{$k+1}</td>
                        <td>{$vo.title}</td>
                        <td>{$vo.bird_price}</td>
                        <td>{$vo.retail_price}</td>
                        <td>{$vo.discount rate}</td>
                        <td>{$vo.details}</td>
                    </tr>
                </foreach>
            </eq>

            </tbody>
        </table>

    </div>
</fieldset>
