<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>体验</title>
	<link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/experience.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
	<script>
		(function(desW){
	        var winW=document.documentElement.clientWidth || document.body.clientWidth;
	        console.log(winW);
	        document.documentElement.style.fontSize=winW / desW*100+"px";
	    })(1920);//设计稿宽度
	</script>
</head>
<body>
	<header>

	</header>
	<main>
		<include file="Public:header"/>
		<div class="exhibition-box">
			<div class="title">
				<img src="__PUBLIC__/web/images/experience_title.png" alt="">
			</div>
			<div class="exhibition-cont clearfix">
				<div class="left-menu fl">
					<ul>
						<li><a class="active" href="javascript:;">现场亮点</a></li>
						<li><a href="javascript:;">音乐</a></li>
						<li><a href="javascript:;">玩具</a></li>
						<li><a href="javascript:;">街头时尚</a></li>
						<li><a href="javascript:;">幻想</a></li>
						<li><a href="javascript:;">游戏</a></li>
					</ul>
				</div>
				<div data-pageid="3" class="right-cont fl clearfix">
					<div id="cont1" class="cont-detail cur">
						<div class="highlight">
							<ul class="clearfix">
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_01.png" alt="">
									</div>
									<p>欢乐享大轰趴</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_02.png" alt="">
									</div>
									<p>潮流明星互动</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_03.png" alt="">
									</div>
									<p>限定奖品乐派</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_05.png" alt="">
									</div>
									<p>明星达人表演</p>
								</li>
							</ul>
						</div>
						<div class="limit-num">
							<ul class="clearfix">
								<li class="cur">1</li>
								<!--<li>2</li>-->
								<!--<li>3</li>-->
								<!--<li>4</li>-->
							</ul>
						</div>
					</div>
					<div id="cont2" class="cont-detail">
						<div class="highlight">
							<ul class="clearfix">
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_01.png" alt="">
									</div>
									<p>欢乐享大轰趴</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_02.png" alt="">
									</div>
									<p>潮流明星互动</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_03.png" alt="">
									</div>
									<p>限定奖品乐派</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_05.png" alt="">
									</div>
									<p>明星达人表演</p>
								</li>
							</ul>
						</div>
						<div class="limit-num">
							<ul class="clearfix">
								<li class="cur">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
							</ul>
						</div>
					</div>
					<div id="cont3" class="cont-detail">
						<div class="highlight">
							<ul class="clearfix">
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_01.png" alt="">
									</div>
									<p>欢乐享大轰趴</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_02.png" alt="">
									</div>
									<p>潮流明星互动</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_03.png" alt="">
									</div>
									<p>限定奖品乐派</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_05.png" alt="">
									</div>
									<p>明星达人表演</p>
								</li>
							</ul>
						</div>
						<div class="limit-num">
							<ul class="clearfix">
								<li class="cur">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
							</ul>
						</div>
					</div>
					<div id="cont4" class="cont-detail">
						<div class="highlight">
							<ul class="clearfix">
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_01.png" alt="">
									</div>
									<p>欢乐享大轰趴</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_02.png" alt="">
									</div>
									<p>潮流明星互动</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_03.png" alt="">
									</div>
									<p>限定奖品乐派</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_05.png" alt="">
									</div>
									<p>明星达人表演</p>
								</li>
							</ul>
						</div>
						<div class="limit-num">
							<ul class="clearfix">
								<li class="cur">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
							</ul>
						</div>
					</div>
					<div id="cont5" class="cont-detail">
						<div class="highlight">
							<ul class="clearfix">
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_01.png" alt="">
									</div>
									<p>欢乐享大轰趴</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_02.png" alt="">
									</div>
									<p>潮流明星互动</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_03.png" alt="">
									</div>
									<p>限定奖品乐派</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_05.png" alt="">
									</div>
									<p>明星达人表演</p>
								</li>
							</ul>
						</div>
						<div class="limit-num">
							<ul class="clearfix">
								<li class="cur">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
							</ul>
						</div>
					</div>
					<div id="cont6" class="cont-detail">
						<div class="highlight">
							<ul class="clearfix">
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_01.png" alt="">
									</div>
									<p>欢乐享大轰趴</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_02.png" alt="">
									</div>
									<p>潮流明星互动</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_03.png" alt="">
									</div>
									<p>限定奖品乐派</p>
								</li>
								<li>
									<div class="highlight-box">
										<img src="__PUBLIC__/web/images/activity_05.png" alt="">
									</div>
									<p>明星达人表演</p>
								</li>
							</ul>
						</div>
						<div class="limit-num">
							<ul class="clearfix">
								<li class="cur">1</li>
								<li>2</li>
								<li>3</li>
								<li>4</li>
							</ul>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</main>
	<include file="Public:footer"/>
</body>
</html>