<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>商品</title>
        <link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
        <link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
        <link rel="stylesheet" href="__PUBLIC__/web/css/goods.css">
        <link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
        <script>
            (function (desW) {
                var winW = document.documentElement.clientWidth || document.body.clientWidth;
                console.log(winW);
                document.documentElement.style.fontSize = winW / desW * 100 + "px";
            })(1920);//设计稿宽度
        </script>
    </head>
    <body>
        <header>
        </header>
        <main>
            <include file="Public:header"/>
            <div class="exhibition-box">

                <div class="exhibition-cont clearfix">
                    <div class="left-menu fl">
                        <ul>
                            
                            <li><a  <eq name="is_limit" value="1">class="active"</eq> href="__APP__/Index/goods.html?n=1&type={$type}" >活动限定</a></li>
                            <li><a  <eq name="is_limit" value="0">class="active"</eq> href="__APP__/Index/goods.html?n=0&type={$type}">商品浏览</a></li>
                            
                        </ul>
                    </div>
                    <div data-pageid="2"  class="right-cont fl clearfix">
                        <div class="title">
                            <img src="__PUBLIC__/web/images/goods_sec_title.png" alt="">
                        </div>
                        <div id="limit"  class="cont-detail <eq name='is_limit' value='1'>cur</eq>">
                            <div class="limit">
                                <ul class="clearfix">
                                    <volist name='goods_list' id='vo'>
                                    <li>
                                        <a href="__APP__/Index/goods_detail.html?type={$type}&id={$vo.id}">
                                        <div class="limit-box">
                                            <img src="{$vo.smeta}" alt="">
                                        </div>
                                        <h2>{$vo.title}</h2>
                                        <!--<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;">{$vo.content}</p>-->
                                        </a>
                                    </li>
                                    </volist>
                                    <!--<li>
                                        <div class="limit-box">
                                            <img src="__PUBLIC__/web/images/limit_02.png" alt="">
                                        </div>
                                        <h2>潮流个性包包</h2>
                                        <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，乐不停歇，让我们一起high起来！</p>
                                    </li>
                                    <li>
                                        <div class="limit-box">
                                            <img src="__PUBLIC__/web/images/limit_03.png" alt="">
                                        </div>
                                        <h2>潮流个性T恤</h2>
                                        <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，乐不停歇，让我们一起high起来！</p>
                                    </li>
                                    <li>
                                        <div class="limit-box">
                                            <img src="__PUBLIC__/web/images/limit_04.png" alt="">
                                        </div>
                                        <h2>红黑米奇玩偶</h2>
                                        <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，乐不停歇，让我们一起high起来！</p>
                                    </li>
                                    <li>
                                        <div class="limit-box">
                                            <img src="__PUBLIC__/web/images/limit_03.png" alt="">
                                        </div>
                                        <h2>潮流个性T恤</h2>
                                        <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，乐不停歇，让我们一起high起来！</p>
                                    </li>
                                    <li>
                                        <div class="limit-box">
                                            <img src="__PUBLIC__/web/images/limit_04.png" alt="">
                                        </div>
                                        <h2>红黑米奇玩偶</h2>
                                        <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，乐不停歇，让我们一起high起来！</p>
                                    </li>-->
                                </ul>
                            </div>
                            <div class="limit-num">
                                {$page}
                            </div>
                        </div>
                        <div id="browse" class="cont-detail <eq name='is_limit' value='0'>cur</eq>">
                            <div class="browse">
                                <div class="search">
                                    <select class="brand" name="" id="category" onchange="self.location.href=options[selectedIndex].value" >
                                        <option value="" selected="selected">选择商品品牌</option>
                                        <volist name="category" id="vo">
                                        <option value="__APP__/Index/goods?type={$type}&category={$vo.id}">{$vo.name}</option>
                                        </volist>
<!--                                        <option value="">Funko</option>
                                        <option value="">NBA Style</option>
                                        <option value="">Converse</option>-->
                                    </select>
                                    <!--<select class="type" name="" id="">
                                         <option value="" selected="selected">商品类别</option> 
                                        <option value="">玩具</option>
                                        <option value="">手办</option>
                                        <option value="">球鞋</option>
                                        <option value="">潮服</option>
                                    </select>
                                    -->
                                </div>
                                <ul class="clearfix">
                                    <volist name="goods_list" id="vo">
                                        <li>
                                            <a href="__APP__/Index/goods_detail.html?type={$type}&id={$vo.id}">
                                            <img src="{$vo.smeta}" alt="">
                                            <p>{$vo.title}</p>
                                            </a>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                            <div class="browse-num">
                                {$page}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </main>
    <include file="Public:footer"/>
</body>
</html>