<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>嘉宾详情</title>
	<link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/guest_detail.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
	<script>
		(function(desW){
	        var winW=document.documentElement.clientWidth || document.body.clientWidth;
	        console.log(winW);
	        document.documentElement.style.fontSize=winW / desW*100+"px";
	    })(1920);//设计稿宽度
	</script>
</head>
<body>
	<header>
	</header>
	<main>
		<include file="Public:header"/>
		<div class="detail-box">
				<div class="title">
					<img src="__PUBLIC__/web/images/guest_title.png" alt="">
				</div>
			<div class="detail-cont clearfix">
				<div class="head-title">
					<h1>{$info.name}</h1>
					
				</div>
				<div class="detail-left fl">
					<ul>
						<li><img src="{$info.image}" alt=""></li>
						
					</ul>
				</div>
				<div class="detail-right fl">
					<div class="intro-detail">
						<div class="intro-article">
							<p>{$info.content} </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<include file="Public:footer"/>
	<script src="__PUBLIC__/web/js/jquery.min.js"></script>
	<script src="__PUBLIC__/web/js/index.js"></script>
</body>
</html>