<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>嘉宾</title>
        <link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
        <link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
        <link rel="stylesheet" href="__PUBLIC__/web/css/guest.css">
        <link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
        <script>
            (function (desW) {
                var winW = document.documentElement.clientWidth || document.body.clientWidth;
                console.log(winW);
                document.documentElement.style.fontSize = winW / desW * 100 + "px";
            })(1920);//设计稿宽度
        </script>
    </head>
    <body>
        <header>
        </header>
        <main>
            <include file="Public:header"/>
            <div class="exhibition-box">

                <div class="exhibition-cont clearfix">
                    <div class="left-menu fl">
                        <ul>
                            <li><a  href="javascript:;" style="display:none;">活动日程</a></li>
                            <li><a class="active" href="javascript:;">嘉宾信息</a></li>
                        </ul>
                    </div>
                    <div data-pageid="4" class="right-cont fl clearfix">
                        <div class="title">
                            <img src="__PUBLIC__/web/images/guest_sec_title.png" alt="">
                        </div>
                        <div id="schedule" class="cont-detail" style="display:none;">
                            <div class="schedule">
                                <div class="schedule-date">
                                    <ul class="clearfix">
                                        <li>
                                            <a class="cur" href="javascript:;">
                                                May 19-20
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                Jun 16-18
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                Nov 02-04
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="schedule-cont">
                                    <ul class="clearfix">
                                        <li class="active">
                                            <div class="cont-top">
                                                <div class="cont-title">
                                                    <h1>欢乐享大轰趴：</h1>
                                                </div>
                                                <p>2018-05-19, 10:00 am  |  广州南丰国际会展中心</p>
                                                <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，欢乐不停歇，让我们一起high起来！</p>
                                                <ul class="clearfix guest-img">
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_01.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_02.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_03.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_04.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                </ul>
                                                <div class="dateDownload">
                                                    <a href="javascript:;">日程下载</a>
                                                </div>
                                            </div>
                                            <div class="cont-bottom">
                                                <div class="cont-title">
                                                    <h1>欢乐享大轰趴：</h1>
                                                </div>
                                                <p>2018-05-19, 10:00 am  |  广州南丰国际会展中心</p>
                                                <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，欢乐不停歇，让我们一起high起来！</p>
                                                <ul class="clearfix guest-img">
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_01.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_02.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_03.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_04.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                </ul>
                                                <div class="dateDownload">
                                                    <a href="javascript:;">日程下载</a>
                                                </div>
                                            </div>
                                            <div class="limit-num">
                                                <ul class="clearfix">
                                                    <li class="cur">1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                    <li>4</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cont-top">
                                                <div class="cont-title">
                                                    <h1>欢乐享大轰趴：</h1>
                                                </div>
                                                <p>2018-05-19, 10:00 am  |  广州南丰国际会展中心</p>
                                                <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，欢乐不停歇，让我们一起high起来！</p>
                                                <ul class="clearfix guest-img">
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_01.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_02.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_03.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_04.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                </ul>
                                                <div class="dateDownload">
                                                    <a href="javascript:;">日程下载</a>
                                                </div>
                                            </div>
                                            <div class="cont-bottom">
                                                <div class="cont-title">
                                                    <h1>欢乐享大轰趴：</h1>
                                                </div>
                                                <p>2018-05-19, 10:00 am  |  广州南丰国际会展中心</p>
                                                <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，欢乐不停歇，让我们一起high起来！</p>
                                                <ul class="clearfix guest-img">
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_01.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_02.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_03.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_04.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                </ul>
                                                <div class="dateDownload">
                                                    <a href="javascript:;">日程下载</a>
                                                </div>
                                            </div>
                                            <div class="limit-num">
                                                <ul class="clearfix">
                                                    <li class="cur">1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                    <li>4</li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="cont-top">
                                                <div class="cont-title">
                                                    <h1>欢乐享大轰趴：</h1>
                                                </div>
                                                <p>2018-05-19, 10:00 am  |  广州南丰国际会展中心</p>
                                                <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，欢乐不停歇，让我们一起high起来！</p>
                                                <ul class="clearfix guest-img">
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_01.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_02.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_03.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_04.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                </ul>
                                                <div class="dateDownload">
                                                    <a href="javascript:;">日程下载</a>
                                                </div>
                                            </div>
                                            <div class="cont-bottom">
                                                <div class="cont-title">
                                                    <h1>欢乐享大轰趴：</h1>
                                                </div>
                                                <p>2018-05-19, 10:00 am  |  广州南丰国际会展中心</p>
                                                <p>炫酷的场景灯光，充满激情的现场，酒水畅饮，欢乐不停歇，让我们一起high起来！</p>
                                                <ul class="clearfix guest-img">
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_01.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_02.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_03.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                    <li>
                                                        <img src="__PUBLIC__/web/images/guest_sec_04.png" alt="">
                                                        <p>J BALVIN</p>
                                                    </li>
                                                </ul>
                                                <div class="dateDownload">
                                                    <a href="javascript:;">日程下载</a>
                                                </div>
                                            </div>
                                            <div class="limit-num">
                                                <ul class="clearfix">
                                                    <li class="cur">1</li>
                                                    <li>2</li>
                                                    <li>3</li>
                                                    <li>4</li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div id="guest-infor" class="cont-detail cur">
                            <div class="guest-infor">
                                <ul class="clearfix">
                                    <volist name="guest_list" id="vo">
                                        <li>
                                            <img src="{$vo.image}" alt="">
                                            <div class="guest-name">
                                                <p>{$vo.name}</p>
                                            </div>
                                        </li>
                                    </volist>
                                </ul>
                            </div>
                            <div class="limit-num">
                                {$page}
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </main>
    <include file="Public:footer"/>

</body>
</html>