<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="__PUBLIC__/web/css/swiper.min.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/index.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
	<script>
		(function(desW){
	        var winW=document.documentElement.clientWidth || document.body.clientWidth;
	        console.log(winW);
	        document.documentElement.style.fontSize=winW / desW*100+"px";
	    })(1920);//设计稿宽度
	</script>
</head>
<body>
	<header>
		<div class="head-box clearfix">
			<div class="header-logo">
				<img src="__PUBLIC__/web/images/logo.png" alt="">
			</div>
			<div class="header-address">
				<img src="__PUBLIC__/web/images/address.png" alt="">
			</div>
		</div>
		<div class="address-btn">
				<ul class="clearfix">
					<li <eq name="type" value="">class="cur"</eq>>
						<a href="./index.html">
							<img src="__PUBLIC__/web/images/index.png" alt="">
							<img src="__PUBLIC__/web/images/index-active.png" alt="">
						</a>
					</li>
                                        <li <eq name="type" value="1">class="cur"</eq>>
						<a href="__APP__/Index/index.html?type=1">
							<img src="__PUBLIC__/web/images/guangzhou.png" alt="">
							<img src="__PUBLIC__/web/images/guangzhou-active.png" alt="">
						</a>
					</li>
					<li <eq name="type" value="2">class="cur"</eq>>
						<a href="__APP__/Index/index.html?type=2">
							<img src="__PUBLIC__/web/images/hangzhou.png" alt="">
							<img src="__PUBLIC__/web/images/hangzhou-active.png" alt="">
						</a>
					</li>
				</ul>
		</div>
	</header>
	<main>
		<include file="Public:header"/>
		<div class="guest">
			<div class="title">
				<img src="__PUBLIC__/web/images/guest_title.png" alt="">
			</div>
			<div class="guest-cont">
				<ul class="clearfix">
					<volist name="guest_list" id="vo">
					<li>
						<img src="{$vo.smeta}" alt="">
						<img src="{$vo.image}" alt="">
						<div class="guest-name">
							<img src="__PUBLIC__/web/images/guest_name_bj.png" alt="">
							<p>{$vo.name}</p>
						</div>
					</li>
					</volist>
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/guest_02.png" alt="">-->
						<!--<img src="__PUBLIC__/web/images/guest_02_active.png" alt="">-->
						<!--<div class="guest-name">-->
							<!--<img src="__PUBLIC__/web/images/guest_name.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/guest_03.png" alt="">-->
						<!--<img src="__PUBLIC__/web/images/guest_03_active.png" alt="">-->
						<!--<div class="guest-name">-->
							<!--<img src="__PUBLIC__/web/images/guest_name.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/guest_04.png" alt="">-->
						<!--<img src="__PUBLIC__/web/images/guest_04_active.png" alt="">-->
						<!--<div class="guest-name">-->
							<!--<img src="__PUBLIC__/web/images/guest_name.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/guest_05.png" alt="">-->
						<!--<img src="__PUBLIC__/web/images/guest_05_active.png" alt="">-->
						<!--<div class="guest-name">-->
							<!--<img src="__PUBLIC__/web/images/guest_name.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/guest_06.png" alt="">-->
						<!--<img src="__PUBLIC__/web/images/guest_06_active.png" alt="">-->
						<!--<div class="guest-name">-->
							<!--<img src="__PUBLIC__/web/images/guest_name.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
				</ul>
				<div class="more">
					<a href="javascript:;">more ></a>
				</div>
			</div>
		</div>
		<div class="goods">
			<div class="title">
				<img src="__PUBLIC__/web/images/goods_title.png" alt="">
			</div>
			<div class="goods_cont">
				<ul class="clearfix">
					<volist name="goods_list" id="vo">
					<li>
                                                <a href="__APP__/Index/goods_detail.html?type={$type}&id={$vo.id}">
						<img src="{$vo.smeta}" alt="">
						<div>
							<img src="__PUBLIC__/web/images/goods_active.png" alt="">
						</div>
						<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 1;overflow: hidden;">{$vo.title}</p>
                                                </a>
					</li>
					</volist>
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/goods_01.png" alt="">-->
						<!--<div>-->
							<!--<img src="__PUBLIC__/web/images/goods_active.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/goods_02.png" alt="">-->
						<!--<div>-->
							<!--<img src="__PUBLIC__/web/images/goods_active.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/goods_01.png" alt="">-->
						<!--<div>-->
							<!--<img src="__PUBLIC__/web/images/goods_active.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/goods_03.png" alt="">-->
						<!--<div>-->
							<!--<img src="__PUBLIC__/web/images/goods_active.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/goods_04.png" alt="">-->
						<!--<div>-->
							<!--<img src="__PUBLIC__/web/images/goods_active.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/goods_03.png" alt="">-->
						<!--<div>-->
							<!--<img src="__PUBLIC__/web/images/goods_active.png" alt="">-->
						<!--</div>-->
					<!--</li>-->
				</ul>
				<div class="more">
					<a href="__APP__/Index/goods.html?type={$type}">more ></a>
				</div>
			</div>
		</div>
 		<div class="banner">
			<div class="swiper-container">
			    <div class="swiper-wrapper">
                                <volist name="banner_list" id="vo">
			        <div class="swiper-slide">
			        	<img src="{$vo.banner_img}" style="width: 798px;height: 146px" alt="">
			        </div>
                                </volist>
			       
			    </div>

			    <div class="swiper-pagination"></div>
			</div>
		</div> 
		<div class="trend">
			<div class="title">
				<img src="__PUBLIC__/web/images/trend_title.png" alt="">
			</div>
			<div class="trend-cont">
				<ul class="clearfix">
					<volist name="news_list" id="vo">
						<li>
                                                    <a href="__APP__/Index/report_detail.html?type={$type}&id={$vo.id}">
							<img src="{$vo.smeta}" alt="">
							<div class="cont-title">
								<p>{$vo.title}</p>
							</div>
                                                    </a>
							<!-- <div class="trend-time">
								<p>{$vo.create_time|date="Y年m月d日",###}</p>
							</div> -->
						</li>
					</volist>
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/trend_01.png" alt="">-->
						<!--<div class="cont-title">-->
							<!--<p>藤原浩将在京都精华大学展开「the Panel」讲座</p>-->
						<!--</div>-->
						<!--<div class="trend-time">-->
							<!--<p>2018年2月5日</p>-->
						<!--</div>-->
					<!--</li>-->
					<!--<li>-->
						<!--<img src="__PUBLIC__/web/images/trend_02.png" alt="">-->
						<!--<div class="cont-title">-->
							<!--<p>藤原浩将在京都精华大学展开「the Panel」讲座</p>-->
						<!--</div>-->
						<!--<div class="trend-time">-->
							<!--<p>2018年2月5日</p>-->
						<!--</div>-->
					<!--</li>-->
				</ul>
				<div class="more">
					<a href="__APP__/Index/experience.html?type={$type}&category=1">more ></a>
				</div>
			</div>
		</div>
		<div class="experience">
			<div class="title">
				<img src="__PUBLIC__/web/images/experience_title.png" alt="">
			</div>
			<div class="experience-cont">
				<ul class="clearfix">
					<li>
						<img src="__PUBLIC__/web/images/experience_01.png" alt="">
						<img src="__PUBLIC__/web/images/experience_01_active.png" alt="">
						<div class="experience-title">
							音乐
						</div>
					</li>
					<li>
						<img src="__PUBLIC__/web/images/experience_02.png" alt="">
						<img src="__PUBLIC__/web/images/experience_02_active.png" alt="">
						<div class="experience-title">
							玩具
						</div>
					</li>
					<li>
						<img src="__PUBLIC__/web/images/experience_03.png" alt="">
						<img src="__PUBLIC__/web/images/experience_03_active.png" alt="">
						<div class="experience-title">
							街头 & 时尚
						</div>
					</li>
					<li>
						<img src="__PUBLIC__/web/images/experience_04.png" alt="">
						<img src="__PUBLIC__/web/images/experience_04_active.png" alt="">
						<div class="experience-title">
							幻想
						</div>
					</li>
					<li>
						<img src="__PUBLIC__/web/images/experience_05.png" alt="">
						<img src="__PUBLIC__/web/images/experience_05_active.png" alt="">
						<div class="experience-title">
							游戏
						</div>
					</li>
				</ul>
			</div>
		</div>
<!-- 		<div class="partner">
			<div class="title">
				<img src="__PUBLIC__/web/images/partner_title.png" alt="">
			</div>
			<div class="partner-cont">
				<div class="cont-detail">
					<ul class="clearfix"> -->
<!-- 						<volist name="partner_list" id="vo">
							<li><img src="{$vo.smeta}" alt=""></li>
						</volist> -->
						<!--<li><img src="__PUBLIC__/web/images/partner_index_01.png" alt=""></li>-->
						<!--<li><img src="__PUBLIC__/web/images/partner_index_02.png" alt=""></li>-->
						<!--<li><img src="__PUBLIC__/web/images/partner_index_03.png" alt=""></li>-->
						<!--<li><img src="__PUBLIC__/web/images/partner_index_04.png" alt=""></li>-->
						<!--<li><img src="__PUBLIC__/web/images/partner_index_05.png" alt=""></li>-->
						<!--<li><img src="__PUBLIC__/web/images/partner_index_06.png" alt=""></li>-->
<!-- 					</ul>
				</div>
			</div>
		</div> -->
		<div class="brand">
			<div class="title">
				<img src="__PUBLIC__/web/images/brand_title.png" alt="">
			</div>
			<div class="brand-cont">
				<img src="__PUBLIC__/web/images/brand.png" alt="">
			</div>
		</div>
		<div class="spread">
			<div class="title">
				<img src="__PUBLIC__/web/images/spread_title.png" alt="">
			</div>
			<div class="spread-cont">
				<img src="__PUBLIC__/web/images/spread.png" alt="">
			</div>
		</div>
	</main>
	<include file="Public:footer"/>
	<script src="__PUBLIC__/web/js/jquery.min.js"></script>
	<script src="__PUBLIC__/web/js/swiper.min.js"></script>
	<script src="__PUBLIC__/web/js/index.js"></script>
	<script>
		
	/*首页广告位轮播图*/
	const mySwiper = new Swiper ('.swiper-container', {
		    loop: true,
		    autoplay: true,
		    // 如果需要分页器
		    pagination: {
		      el: '.swiper-pagination',
		    },
		  })    
	</script>
</body>
</html>