<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>信息</title>
	<link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/information.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
	<script>
		(function(desW){
	        var winW=document.documentElement.clientWidth || document.body.clientWidth;
	        console.log(winW);
	        document.documentElement.style.fontSize=winW / desW*100+"px";
	    })(1920);//设计稿宽度
	</script>
</head>
<body>
	<header>
	</header>
	<main>
		<include file="Public:header"/>
		<div class="exhibition-box">
			
			<div class="exhibition-cont clearfix">
				<div class="left-menu fl">
					<ul>
						<li><a href="javascript:;">关于</a></li>
						<li><a href="javascript:;">FAQ</a></li>
						<!--<li><a href="javascript:;">差旅餐饮</a></li>
						<li><a href="javascript:;">赞助和合作伙伴</a></li>-->
					</ul>
				</div>
				<div data-pageid="5" class="right-cont fl clearfix">
					<div class="title">
						<img src="__PUBLIC__/web/images/information_sec_title.png" alt="">
					</div>
					<div id="about" class="cont-detail cur">
						<div class="about-activity">
							<div class="cont-title">
								<h1>关于活动：</h1>
							</div>
							<div class="activity-cont">
								<div class="activity-top">
									<p>FanXperience（FanX）将打造集合潮流玩具、音乐、游戏、街头、动漫、科幻、服饰等最新潮前沿文化的综合性体验活动，聚合各领域的顶级和最有态度的品牌，对文化进行跨界和组合，在现场提供看，玩买的全方位全新体验。同时活动将邀请众多各领域的国际一线重量级嘉宾到场。海量的潮流文化内容、最新和限量的潮流商品、不一样的视听和参与感、丰富的舞台活动、和文化符号人物的亲密接触互动。FanX活动现场提供的体验包括：</p>
								</div>
								<div class="activity-bottom">
									<ul>
										<li>限定潮玩收藏、精品周边手办</li>
										<li>丰富游戏体验和游戏文化</li>
										<li>动漫、影视、电音、街头、科幻、潮服</li>
										<li>世界顶级艺术家、制作人、明星现场亲密接触</li>
										<li>最新的生活态度、最全的文化符号</li>
									</ul>
								</div>
							</div> 
						</div>
						<!--<div class="about-poplife">
							<div class="cont-title">
								<h1>基本设施：</h1>
							</div>
							<div class="poplife-cont clearfix">
								<div>
									<p>PopLife 是全球领先的潮流文化公司，在美国、东南亚和中国均有合作伙伴，其合作伙伴包括Marvel, DC, Disney, NBA, HBO, Dreamworks, Warner Brother, Sony, Universal, Paramount, Star Wars，Pixar 等多个国际一线品牌，为其提供产品设计、事件策划、品牌管理、以及视觉营销等多种服务，其与核心合作伙伴Funko开发制作的POP!搪胶玩偶系列在全球范围内合作上百个IP，产品在短短五年时间内销售超过50，000，000个，是目前全球销量第一的收藏玩偶品牌。Poplife 与 Funko共同创造了宇宙中最受欢迎的特许商品大集合，并迅速成为全球收藏玩偶及时尚生活方式革命的引领者。</p>
									<p>同时，Poplife还在全球范围内与众多明星有着深入合作, 范围包括玩具、服装服饰等与潮流文化相关的文化符号塑造和传播。近年Poplife进一步在潮流文化娱乐产业进行布局，先后设立FanXperience潮流风尚展、E-Sports Power House电竞品牌，Pro-AM Studio专业的视频基地以及专业的视频内容制作，还有签约很多国际顶级艺术家和艺人管理，签约艺术家包括Ron English, Futura, Rob Prior等潮流文化领域的符号人物, 推出多个系列的潮流玩具和服饰产品，引入格莱美获奖作曲Brody Brown，新派说唱歌手Travie Mccoy等进行音乐和歌手制作，同时还进一步在影视方面进行拓展。</p>
								</div>
							</div>
						</div>-->
					</div>
					<div id="faq" class="cont-detail">
						<div class="question">
							<div class="cont-title">
								<h1>常见问题：</h1>
							</div>
							<div class="question-cont">
								<div class="cont-01">
									<h2>- 问题：我可以参与哪些活动？</h2>
									<p>解答：</p>
									<ul>
										<li>1. 限定潮玩收藏、精品周边手办</li>
										<li>2.丰富游戏体验和游戏文化</li>
										<li>3.动漫、影视、电音、街头、科幻、潮服</li>
										<li>4.世界顶级艺术家、制作人、明星现场亲密接触</li>
										<li>5.最新的生活态度、最全的文化符号</li>
									</ul>
								</div>
								<div class="cont-02">
									<h2>- 问题：自驾车观众在现场如何停车？</h2>
									<p>解答：驾驶私家车的观众，我们建议将车辆停放在展馆的公共停车场</p>
								</div>
								<div class="cont-03">
									<h2>- 问题：小孩可以进场参观吗？</h2>
									<p>解答：由于观众人数众多，处于安全考虑，谢绝儿童参观（儿童的概念是身高1.2米以下）</p>
								</div>
							</div>
						</div>
					</div>
					<div id="restaurant" class="cont-detail">
						<div class="address">
							<div class="cont-title">
								<h1>交通地址：</h1>
							</div>
							<div class="address-cont">
								<ul class="clearfix">
									<li>
										<h2>- 广州站</h2>
										<div class="address-box">
											<img src="__PUBLIC__/web/images/address_map.png" alt="">
										</div>
										<p>广州站：广州市新国际博览中心</p>
										<p>地址：广州市市萨达路2345号   &nbsp;&nbsp;|&nbsp;&nbsp; 周边交通：123路，地铁1号线</p>
									</li>
									<li>
										<h2>- 杭州站</h2>
										<div class="address-box">
											<img src="__PUBLIC__/web/images/address_map.png" alt="">
										</div>
										<p>杭州站：杭州市新国际博览中心</p>
										<p>地址：杭州市市萨达路2345号   &nbsp;&nbsp;|&nbsp;&nbsp; 周边交通：123路，地铁1号线</p>
									</li>
								</ul>
							</div>
						</div>
						<!-- <div class="facilities">
							<div class="cont-title">
								<h1>周边设施</h1>
							</div>
							<div class="facilities-cont">
								<div>
									<p>广州站：广州市新国际博览中心</p>
									<p>地址：广州市市萨达路2345号   &nbsp;&nbsp;&nbsp;&nbsp;周边交通：123路，地铁1号线</p>
								</div>
								<div>
									<p>杭州站：杭州市新国际博览中心</p>
									<p>地址：杭州市市萨达路2345号   &nbsp;&nbsp;&nbsp;&nbsp;周边交通：123路，地铁1号线</p>
								</div>
							</div>
						</div> -->
					</div>
					<div id="partner" class="cont-detail">
						<div class="platform">
							<div class="cont-title">
								<h1>平台合作媒体：</h1>
							</div>
							<div class="platform-cont">
								<ul class="clearfix">
									<li>
										<div class="platform-box"><img src="__PUBLIC__/web/images/platform_01.png" alt=""></div>
										<p><span>搜狐时尚</span></p>
									</li>
									<li>
										<div class="platform-box"><img src="__PUBLIC__/web/images/platform_02.png" alt=""></div>
										<p><span>新浪时尚</span></p>
									</li>
									<li>
										<div class="platform-box"><img src="__PUBLIC__/web/images/platform_03.png" alt=""></div>
										<p><span>微博</span></p>
									</li>
									<li>
										<div class="platform-box"><img src="__PUBLIC__/web/images/platform_04.png" alt=""></div>
										<p><span>凤凰网时尚</span></p>
									</li>
								</ul>
							</div>
						</div>
						<div class="trend">
							<div class="cont-title">
								<h1>潮流合作媒体：</h1>
							</div>
							<div class="trend-cont">
								<ul class="clearfix">
									<li>
										<div class="trend-box"><img src="__PUBLIC__/web/images/platform_01.png" alt=""></div>
										<p><span>搜狐时尚</span></p>
									</li>
									<li>
										<div class="trend-box"><img src="__PUBLIC__/web/images/platform_02.png" alt=""></div>
										<p><span>新浪时尚</span></p>
									</li>
									<li>
										<div class="trend-box"><img src="__PUBLIC__/web/images/platform_03.png" alt=""></div>
										<p><span>微博</span></p>
									</li>
									<li>
										<div class="trend-box"><img src="__PUBLIC__/web/images/platform_04.png" alt=""></div>
										<p><span>凤凰网时尚</span></p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</main>
	<include file="Public:footer"/>
	<script src="__PUBLIC__/web/js/jquery.min.js"></script>
	<script src="__PUBLIC__/web/js/index.js"></script>
	<script>
			// var hash = location.hash;
			// var index = $(hash).index();
			// var length = $(".right-cont").children(hash).length;
			// if (length > 0) {
			// 	$(".left-menu li").eq(index).children("a").addClass("active").parent("li").siblings("li").children("a").removeClass("active");
			// 	$(".sub-nav li").children("a").removeClass("active");
			// 	$(".sub-nav li").eq(index).children("a").addClass("active").end().siblings("li").children("a").removeClass("active");
			// 	$(hash).addClass("cur").siblings(".cont-detail").removeClass("cur");
			// }
	</script>
</body>
</html>