<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>报道详情</title>
	<link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/report_detail.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
	<script>
		(function(desW){
	        var winW=document.documentElement.clientWidth || document.body.clientWidth;
	        console.log(winW);
	        document.documentElement.style.fontSize=winW / desW*100+"px";
	    })(1920);//设计稿宽度
	</script>
</head>
<body>
	<header>
	</header>
	<main>
		<include file="Public:header"/>
		<div class="detail-box">
				<div class="title">
					<img src="__PUBLIC__/web/images/report_title.png" alt="">
				</div>
			<div class="detail-cont clearfix">
				<div class="detail-head">
					<img src="__PUBLIC__/web/images/report_img.png" alt="">
				</div>
				<div class="detail-text">
					<p>
						FanXperience（FanX）将打造集合潮流玩具、音乐、游戏、街头、动 漫、科幻、服饰等最新潮前沿文化的综合性体验活动，聚合各领域的顶级和最有态度的品牌，对文化进行跨界和组合，在现场提供看玩、买的全方位全新体验。同时活动将邀请众多各领域的国际一线重量级嘉宾到场。海量的潮流文化内容、最新和限量的潮流商品、不一样的视听和参与感、丰富的舞台活动、和文化符号人物的亲密接触互动。
					</p>
					<div class="time">
						<p>2018年2月5日</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<include file="Public:footer"/>
	<script src="__PUBLIC__/web/js/jquery.min.js"></script>
	<script src="__PUBLIC__/web/js/index.js"></script>
</body>
</html>