<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>报道详情</title>
	<link rel="stylesheet" href="__PUBLIC__/web/css/base.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/common.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/report_detail.css">
	<link rel="stylesheet" href="__PUBLIC__/web/css/style.css">
	<script>
		(function(desW){
	        var winW=document.documentElement.clientWidth || document.body.clientWidth;
	        console.log(winW);
	        document.documentElement.style.fontSize=winW / desW*100+"px";
	    })(1920);//设计稿宽度
	</script>
</head>
<body>
	<header>
	</header>
	<main>
		<include file="Public:header"/>
		<div class="detail-box">
				<div class="title">
					<img src="__PUBLIC__/web/images/report_title.png" alt="">
				</div>
			<div class="detail-cont clearfix">
				<div class="detail-head">
					<img src="{$news_info.smeta}" alt="">
				</div>
				<div class="detail-text">
					<p>
                                            {$news_info.content}
					</p>
					<div class="time">
						<p>{$news_info.create_time|date="Y年m月d日",###}</p>
					</div>
				</div>
			</div>
		</div>
	</main>
	<include file="Public:footer"/>
	<script src="__PUBLIC__/web/js/jquery.min.js"></script>
	<script src="__PUBLIC__/web/js/index.js"></script>
</body>
</html>