<style>
    .layui-form-item{
        width: 100%;
    }
    .layui-form-item .layui-input-inline{
        width: 80%;
    }
</style>
<form class="layui-form">
    <div style="height: 20px"></div>




    <input type="hidden" value="{$about_info.id}" name="id">


    <div class="layui-form-item">
        <label class="layui-form-label">关于活动</label>
        <div class="layui-input-inline">
            <textarea id="about_activity" name="about_activity" style="display: none;">{$about_info.about_activity}</textarea>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">常见问题</label>
        <div class="layui-input-inline">
            <textarea id="faq" name="faq" style="display: none;">{$about_info.faq}</textarea>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地址</label>
        <div class="layui-input-inline">
            <textarea id="address" name="address" style="display: none;">{$about_info.address}</textarea>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">购票需知</label>
        <div class="layui-input-inline">
            <textarea id="notice" name="notice" style="display: none;">{$about_info.notice}</textarea>

        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="about">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<script>
    layui.use(['form', 'layedit'], function () {
        var layedit = layui.layedit;
        //设置内容里面的上传接口
        layedit.set({
            uploadImage: {
                url: "{:U('About/uploadImgForContent')}" //接口url
                , type: 'post' //默认post
            }
        });
        var index = layedit.build('about_activity'); //建立编辑器
        var index2 = layedit.build('faq'); //建立编辑器
        var index3 = layedit.build('address'); //建立编辑器
        var index4 = layedit.build('notice'); //建立编辑器
        var form = layui.form(), $ = layui.jquery;
        //监听提交
        form.on('submit(about)', function (data) {

            var aboutinfo = data.field;
            aboutinfo.about_activity = layui.layedit.getContent(index);
            aboutinfo.faq = layui.layedit.getContent(index2);
            aboutinfo.address = layui.layedit.getContent(index3);
            aboutinfo.notice = layui.layedit.getContent(index4);
            var url = "{:U('About/editAbout')}";
            $.post(url, aboutinfo, function (data) {
                if (data.status == 'error') {
                    layer.msg(data.msg, {icon: 5});//失败的表情
                    return;
                } else if (data.status == 'success') {
                    layer.msg(data.msg, {
                        icon: 6, //成功的表情
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function () {
                        location.reload();
                    });
                }
            })

            return false;//阻止表单跳转
        });
    });

    layui.use('upload', function () {
        $ = layui.jquery
        layui.upload({
            url: "{:U('About/uploadImgForContent')}"
            , title: '重新上传图片'
            , elem: '#upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
            , ext: 'jpg|png|gif|jpeg'
            , method: 'post' //上传接口的http类型
            , success: function (res) {
                if (res.code == 300) {
                    layer.msg(res.msg);
                } else {
                    var str = "<image src='" + res.data.src + "' width='100' height='50'></image> ";
                    $("#smeta").val(res.data.src);
                    $("#show").html(str);
                }
            }
        });
    });
</script>